[MESSAGES CONTROL]
# Disable specific pylint messages by their codes or names
disable = C0114,  # missing-module-docstring
          C0115,  # missing-class-docstring
          C0116,  # missing-function-docstring
          R0903,  # too-few-public-methods
          # W0613,  # unused-argument
          # R0801,  # duplicate-code
          # C0103,  # invalid-name
          R0913,  # too-many-arguments
          R0914,  # too-many-locals
          # W0102,  # dangerous-default-value
          # E1101   # no-member
          W1203,  # logging-format-interpolation
          W0718,  # exception-escape

[FORMAT]
# Set maximum line length
max-line-length = 88

[BASIC]
# Good variable names which should always be accepted
good-names = i, j, k, ex, Run, _, x, y, z, id, db, pk, ok

[DESIGN]
# Maximum number of arguments for function / method
max-args = 8
# Maximum number of locals for function / method body
max-locals = 20
# Maximum number of return / yield for function / method body
max-returns = 6
# Maximum number of branch for function / method body
max-branches = 12